.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1749d4;
    padding-top: 10%;
    padding-bottom: 10%;
}

.aboutTitle {
    font-size: 32px;
    margin-bottom: 100px;
}

.aboutText {
    width: 50%;
    max-width: 500px;
    font-size: 16px;
    text-align: center;
}