.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(24, 71, 201);

  height: 50%;

  position: relative;
}

.aboutTitle {
  position: absolute;
  top: 10px;
  font-size: 32px;
}

.aboutText {
  width: 500px;
  font-size: 16px;
  text-align: center;
}