.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #082a57;
  padding-top: 10%;
  padding-bottom: 10%;
}

.contactTitle {
  font-size: 32px;
  margin-bottom: 100px;
}

.contactText {
  width: 50%;
  max-width: 500px;
  text-align: center;
}

.green {
  color: #2bf786;
  border-bottom: 1px solid #2bf786;
}