.projectsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #222222;
    background-image: url("https://www.transparenttextures.com/patterns/maze-black.png");
    padding-top: 5%;
    padding-bottom: 5%;
}

.projectsTitle {
    font-size: 32px;
    margin-bottom: 100px;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 2000px;
}

.project {
    margin-left: 25px;
    margin-right: 25px;
    width: 500px;
}

.projectText {
    height: 250px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.projectTitle{
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
    width: 225px;
    text-align: center;
    padding-bottom: 3px;
    font-size: 18px;
} 

.projectDescription {
    width: 80%;
    height: 80px;
    text-align: center;
    color: #dddddd81;
}

.projectLinksContainer {
    display: flex;
    margin-top: 15px;
    width: 50%;
    justify-content: space-around;
}

.projectLink {
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 3px;
    
    width: 80px;
    text-align: center;
    position: relative;
    color: #ddddddb2;
}

.projectLink:hover {
    color: #dddddd;
}

.projectLink::after {
    border-bottom: 1px solid #dddddd;
    content: '';
    position: absolute;
    height: 2px;
    top: 100%;
    left: 0;
    width: 80px;
    transition: all 0.5s;
}

.projectLink:hover::after {
    left: -20px;
    width: 120px;
}

/* web browser object */
.browser {
    height: 325px;
    width: 500px;
    border: 1px solid #dddddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.browserTopNav {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: calc(100% - 10px);
    padding-left: 10px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #dddddd;
}

.broswerNavButtons {
    display: flex;
    margin: 0px;
    width: 50px;
}

.broswerNavButton {
    height: 10px;
    width: 10px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
}

i {
    font-size: 10px;
}

.browserWindowButtonsContainer {
    position: absolute;
    right: 15px;
    display: flex;
}

.browserWindowButton {
    height: 5px;
    width: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin-left: 2px;
    margin-right: 2px;
}

.broswerSearchBar {
    height: 15px;
    width: 200px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 100px);
}

.browserImgContainer {
    height: calc(90% - 1px);
    width: 100%;
}

.browserImg {
    height: 100%;
    width: 100%;
}

a {
    color: #dddddd;
    text-decoration: none;
}